{% extends "base.html" %}

{% block main %}
<div class="page-header">
  <h2>Downloads</h1>
</div>
<div class="well">
t
<h3>Current Stable Release: {{ version }}</h3>
    Click on the icon below to download your preferred platform installer.
    <div class="row" style="text-align:center;">
        <div class="col-md-3 col-md-offset-3">
            <a href="https://github.com/dicomsort/dicomsort/releases/download/v2.1.9/DICOM.Sort-2.1.9-win32.msi" onclick="ga('send','event','Download','Installer',this.href);">
                <img src="{{ url_for('static', filename='images/windows.png') }}" height=150>
            </a>
            <br>
            Windows
        </div>
        <div class="col-md-3">
            <a href="https://github.com/dicomsort/dicomsort/releases/download/v2.1.9/DICOMSort-2.1.9.dmg" onclick="ga('send', 'event','Download','Installer',this.href);">
                <img src="{{ url_for('static', filename='images/apple.png') }}" height=150><br>
            </a>
            macOS
        </div>

    </div>

    <a href="{{ url_for('release') }}">Release Notes</a>
</div>

<div class="well">
    <h3>Source Code</h3>
    The stable release source code can be found <a target="_blank"
      href="https://github.com/dicomsort/dicomsort/releases/latest">here</a>.

    Development is done in the git repository and can be viewed online at <a target="_blank" href="https://github.com/dicomsort/dicomsort">http://github.com</a> or be cloned to your local machine:

    <div style="margin-top:15px;">
    <pre>$ git clone https://github.com/dicomsort/dicomsort</pre>
    </div>
</div>


<div class="well">
    <h3>Licensing</h3>
    <p class="license">Permission is hereby granted, free of charge, to any
    person obtaining a copy of this software and associated documentation files
    (the "Software"), to deal in the Software without restriction, including
    without limitation the rights to use, copy, modify, merge, publish,
    distribute, sublicense, and/or sell copies of the Software, and to permit
    persons to whom the Software is furnished to do so, subject to the following
    conditions:</p>

    <p class="license">The above copyright notice and this permission notice
    shall be included in all copies or substantial portions of the Software.</p>

    <p class="license">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
    KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
    EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
    DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
    OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE
    USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
</div>

{% endblock %}
