{% extends "base.html" %}

{% block main %}
<div class="page-header">
  <h2>Downloads</h1>
</div>
<div class="well">
    <h3>Current Stable Release: {{ version }}</h3>
    Click on the icon below to download your preferred platform installer.
    <div class="row" style="text-align:center;">
        <div class="col-md-3 col-md-offset-3">
            <a href="https://github.com/dicomsort/dicomsort/releases/download/v2.1.9/DICOM.Sort-2.1.9-win32.msi" onclick="ga('send','event','Download','Installer',this.href);">
                <img src="{{ url_for('static', filename='images/windows.png') }}" height=150>
            </a>
            <br>
            Windows
        </div>
        <div class="col-md-3">
            <a href="https://github.com/dicomsort/dicomsort/releases/download/v2.1.9/DICOMSort-2.1.9.dmg" onclick="ga('send', 'event','Download','Installer',this.href);">
                <img src="{{ url_for('static', filename='images/apple.png') }}" height=150><br>
            </a>
            OS X
        </div>

    </div>

    <a href="{{ url_for('release') }}">Release Notes</a>
</div>

<div class="well">
    <h3>Source Code</h3>
    The stable release source code can be found <a target="_blank" href="https://github.com/dicomsort/dicomsort/tree/v2.1.6">here</a>.

    Development is done in the git repository and can be viewed online at <a target="_blank" href="https://github.com/dicomsort/dicomsort">http://github.com</a> or be cloned to your local machine:

    <div style="margin-top:15px;">
    <pre>$ git clone https://github.com/dicomsort/dicomsort.git</pre>
    </div>
</div>


<div class="well">
    <h3>Licensing</h3>
    <p class="license">This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.</p>
    
    <p class="license">This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.</p>

    <p class="license">You should have received a copy of the GNU General Public License
    along with this program.  
    If not, see <a target="_blank" href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.</p>
</div>



{% endblock %}
