{% extends "base.html" %}

{% block main %}
<!--
<div class="page-header">
  <h2>Features</h1>
</div>
-->
<div class="row" style="padding-top:20px;">
    <div class="col-md-6">
        <div class="well">
            <h3>Image Sorting</h3>
            <div style="text-align:center;">
                <img src="{{ url_for('static', filename='images/filestructure.png') }}" width=350>
            </div>
            Medical images exported from an imaging system or PACS system are often saved
            with filenames based upon unique identifiers for the images. The 
            primary goal of DICOMsort is to reorganize and rename these images
            in a more user-friendly way. The software currently supports the following:</p>

            <ul>
                <li>Multi-level sorting based upon DICOM header</li>
                <li>Custom configuration of default sorting options</li>
                <li>Recursive token-based sorting</li>
                <li>Custom File Naming</li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <h3>Anonymization</h3>
            <div style="text-align:center;">
                <img src="{{ url_for('static', filename='images/anonymize.png') }}" width=400>
            </div>
            <p>
            DICOM anonymization is essential in many applications to protect
            patients' privacy. In addition to sorting, this software is able to perform anonymization:</p>
            <ul>
                <li>Anonymizes customizable fields</li>
                <li>Allows user to specify replacement values</li>
                <li>Replacement values can depend on other values</li>
                <li>In-place anonymization</li>
                <li>Simulatneous sorting and anonymization</li>
            </ul>

        </div>
    </div>
</div>


{% endblock %}
