{% extends "base.html" %}
{% block main %}
<div id="row" class="row" style="text-align:center; margin-top:20px;">
    <div class="col-md-4">
        <div class="well">
            <img src="{{ url_for('static', filename='images/sorter.png') }}" height=100>
            <div style="height:25px;"></div>
            <h3>Flexible</h3>
            <p>
            DICOMsort is capable of sorting medical images based upon anynumber of values contained within the DICOM header. You're only limited by the data you want to sort.
            </p>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="well">
            <img src="{{ url_for('static', filename='images/crossplatform.png') }}" height=100>
            <div style="height:25px;"></div>
            <h3>Cross-Platform</h3>
            <p>
            This software is written in <a target="_blank" href="http://www.python.org">Python</a> and relies heavily upon <a target="_blank" href="https://code.google.com/p/pydicom/">pydicom</a> and <a target="_blank" href="http://wxpython.org">wxPython</a>. As a result, we support Windows, Mac OS X, and any flavor of Linux.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <img src="{{ url_for('static', filename='images/opensource.png') }}" height=100>
            <div style="height:25px;"></div>
            <h3>Free &amp; Open Source</h3>
            <p>
            Thanks to your contributions, DICOMsort is provided free of charge.
            If you require additional functionality, feel free to <a
                target="_blank"
                href="https://github.com/suever/dicomSort/issues/new">request a feature</a> or <a target="_blank" href="https://github.com/suever/dicomSort/">implement it yourself</a>.
            </p>
        </div>
    </div>
</div>
<hr>
{% endblock %}
